*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: transparent;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  object-fit: contain;

}


header {
  text-align: center;
  color: rgb(120, 20, 242);
  width: 90%;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-color: rgb(117, 36, 248) ;
  border-radius: 20px;
 box-shadow: 10px 5px 10px 5px #0a0a0a;
 opacity: .8;
 margin-left: 50px;
}
#backgroundVideo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
 ::placeholder{
  text-align: center;
  color: rgb(255, 217, 0);
  font-size: 20px;
  background-color: transparent;

}
div.card {
  background-color: rgb(188, 205, 255);
  width:auto;
  height:auto;
  color: rgb(241, 143, 58);
  border-radius: 15px;
  box-shadow: 0px 8px 16px 4px #020c23;
  opacity: .6;
}

div.row{
  justify-content: center;
padding-top: 175px;
padding-right: 10px;
}


input{
  width: 350px;
  height: 50px;
  border-radius: 10px;
  color: #f60b9c;
  background-color: transparent;
  opacity: .8;
}

